<div class="shopping-cart-content">
    <ul>
        <li class="single-shopping-cart">
            <div class="shopping-cart-img">
                <a href="#"><img alt="" src=<%= domain + "img/cart/cart-1.png"; %>></a>
            </div>
            <div class="shopping-cart-title">
                <h4><a href="#">T- Shart & Jeans </a></h4>
                <h6>Qty: 02</h6>
                <span>$260.00</span>
            </div>
            <div class="shopping-cart-delete">
                <a href="#"><i class="fa fa-times-circle"></i></a>
            </div>
        </li>
        <li class="single-shopping-cart">
            <div class="shopping-cart-img">
                <a href="#"><img alt="" src=<%= domain + "img/cart/cart-2.png"; %>></a>
            </div>
            <div class="shopping-cart-title">
                <h4><a href="#">T- Shart & Jeans </a></h4>
                <h6>Qty: 02</h6>
                <span>$260.00</span>
            </div>
            <div class="shopping-cart-delete">
                <a href="#"><i class="fa fa-times-circle"></i></a>
            </div>
        </li>
    </ul>
    <div class="shopping-cart-total">
        <h4>Shipping : <span>$20.00</span></h4>
        <h4>Total : <span class="shop-total">$260.00</span></h4>
    </div>
    <div class="shopping-cart-btn btn-hover text-center">
        <a class="default-btn" href="cart-page.html">view cart</a>
        <a class="default-btn" href="checkout.html">checkout</a>
    </div>
</div>